USE [tareaProgramada2]
GO
/****** Object:  StoredProcedure [dbo].[consultarEmpleados]    Script Date: 24/4/2026 23:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[consultarEmpleados]
AS
BEGIN
	SELECT e.Id,e.ValorDocumentoIdentidad,e.Nombre,e.FechaContratación,e.SaldoVacaciones,e.EsActivo,p.Nombre AS Puesto
	FROM dbo.Empleado e
	INNER JOIN Puesto p ON e.IdPuesto = p.Id
END