USE [tareaProgramada2]
GO
/****** Object:  StoredProcedure [dbo].[insertarEmpleado]    Script Date: 23/4/2026 14:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[insertarEmpleado]
@IdPuesto INT,
@ValorDocumentoIdentidad INT,
@Nombre VARCHAR(64),
@SaldoVacaciones MONEY = 0,
@EsActivo BIT =1
AS 
BEGIN 
	SET NOCOUNT ON;
	IF EXISTS(SELECT 1 FROM dbo.Empleado WHERE  Nombre = @Nombre)
	BEGIN
		SELECT -1 AS Resultado, 'Nombre de empleado existente' AS Mensaje; -- mensaje en caso de que exista la persona
		RETURN;
	END
	IF EXISTS(SELECT 1 FROM dbo.Empleado WHERE ValorDocumentoIdentidad = @ValorDocumentoIdentidad)
	BEGIN
		SELECT -1 AS Resultado, 'Valor de documento de indentidad existente' AS Mensaje;
		RETURN;
	END

INSERT INTO dbo.Empleado (IdPuesto,ValorDocumentoIdentidad,Nombre,FechaContratación,SaldoVacaciones,EsActivo) 
VALUES (@IdPuesto,@ValorDocumentoIdentidad,@Nombre,GETDATE(),@SaldoVacaciones,@EsActivo); 
SELECT 1 AS Resultado, 'Exito al insertar al empleado' AS Mensaje; -- Mensaje en caso de exito
RETURN
END