<!DOCTYPE html>
<html>
    <head>
        <title>
            Tabla
        </title>
    </head>
    <body>
        
        <h1 align="center" style="margin-top: 50px;">
            Lista de empleados
        </h1>

        <div border="1" style="width:650px; border:2px solid black; margin-top:50px; margin-left: 450px; max-height: 400px;
overflow-y: auto;">
            <table border="1" width="100%">
                <tr align="left">
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Salario
                    </th>
                </tr>
                {% for empleado in empleados %}
                <tr align="left">
                    <td>
                        {{ empleado[0] }}
                    </td>
                    <td>
                        {{ empleado[1] }}
                    </td>
                    <td>
                        {{ empleado[2] }}
                    </td>
                </tr>
                {% endfor %}
            </table>

            <button style="margin-left: 535px;
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            border: '1';
            cursor: pointer;" onclick="window.location.href='/insertar';">
                Insertar
            </button>

        </div>

    </body>
</html>
